tools/__pycache__
tools/old/__pycache__
tools/repos
tools/github-info.log
tools/github-error.log
tools/github-debug.log
tools/github-error-*
tools/github-debug-*
**/.idea/**
tools/venv-test
Tools/data/_sentry
Tools/data/_go
Tools/data/_react
Tools/data/_node
Tools/data/_guava
tools/data/
tools/data/test/
tools/data/*
tools/config.py
